.imagen {
    background-image: url('/inventario.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 400px;
    height: auto;
    padding: 1rem;
    gap: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-azul);
    font-weight: bold;
}

.card-actions {

    display: flex;
    justify-content: center;
    gap: 10px;
}