<div class="imagen">
    <mat-card class="card">
        <mat-card-title class="card-title">Iniciar Sesión</mat-card-title>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ex. John Doe">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="******">
        </mat-form-field>
        <button color="primary" mat-raised-button>
            <mat-icon>login</mat-icon>
            Iniciar Sesión
        </button>
        <mat-card-actions class="card-actions">
            <button mat-button color="primary">¿Olvidaste tu contraseña?</button>
        </mat-card-actions>
    </mat-card>
</div>