/* You can add global styles to this file, and also import other style files */
:root {
    --color-azul: #00458F;
    --color-celeste: #C5D6F5;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}